:root {
    --primary-color:#4D5AE5;
--primary-with-alpha: rgba(77, 90, 229, 0.9);
    --primary-white: #fff;
    --background-font: #2E2F42;
    --hover-background: #0707f6;
    --cloud: #F4F4FD;
    --paragraph-color: #434455;
    --CORNFLOW: #E7E9FC;
    --Light-Slate: #8E8F99;
    --Grey: rgba(46, 47, 66, 0.70);
    --L-Grey: #2E2F42;
    --Dairy: #FCFCFC;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    background-color: var(--primary-white);
    width: 100%;
    max-width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
a {
   text-decoration: none;
} 
ul > li{
    list-style-type: none;
}
/* Text-Logo --nav bar - index pages & contacts*/
.header{
    padding: 25px 156px;
    border-bottom: 1px solid var(--CORNFLOW);
}
.top-menu {
    background-color: var(--primary-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}  
.web {
    color: var(--primary-color);
    font-family: Raleway;
    width: 44px;
    font-size: 19px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0.54px;
    text-transform: uppercase;  
}
.studio {
    color: var(--background-font);
    font-family: Raleway;
    width: 71px; 
    font-size: 18px;
    font-weight: 800;
    line-height: 1.3;
    text-transform: uppercase;
    padding-right: 36px;
}
.pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding-right: 252px;
}
.pages > li > a {
    text-decoration: none;
    color: var(--paragrap-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
           .pages>li>a:focus,
.active,.pages > li > a:hover{
    color: var(--primary-color);
}
.active::after{
    background-color: var(--primary-color);
    content: " ";
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 2px;
    position: relative;
    top: 40px;
}
.page-studio{
     width: 48px, auto;
     height: 24px, auto;
}
.page-portfolio{
    width: 66px, auto;
    height: 24px, auto;
}
.page-contacts{
    width: 67px, auto;
    height: 24px, auto;
}
.email{
    width:  153px;
    height: 24px;
}
.cp-number{
    width:  151px;
    height: 24px;
}
.contacts-menu > li > a {
    text-decoration: none;
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.contacts-menu > li > a:hover {
    color: var(--primary-color);
}
.contacts-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
/* --------------------- Hero Image ----------------------------*/
 h1 {
    color: var(--cloud);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    padding-left: 472px;
    padding-right: 472px;
}
.hero {
    background: linear-gradient(-45deg, rgba(46, 47, 66, 0.70), rgba(255, 255, 255, 0.00) 100%),
                url("../images/busy_frontdevs.jpg");
                /* lightgray 0px -167.766px / 100% 139.922% no-repeat; */
    background-color: var(--background-font);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    display: flex;
    padding-top: 188px;
    padding-bottom: 188px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 600px;
}
.order-btn {
    background-color: var(--primary-color); 
    display: block;
    align-items: center;
    justify-content: center;
    padding:  16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15 );
    width: auto;
    color: var(--primary-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    border: none;
    letter-spacing: 0.64px;
    cursor: pointer;
}
.order-btn:hover {
    background-color: var(--hover-background);
    color: var(--primary-white);
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    border: none;
    letter-spacing: 0.64px;
    cursor: pointer;
}
/* ------------  modal start here ----------------- */
.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    padding: 24px;
    background-color: var(--Dairy);
    width: 408px;
    height: 584px;
    border-radius: 5px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
                0 1px 3px 0 rgba(0, 0, 0, 0.12),
                0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
.is-hidden {
    pointer-events: none;
    opacity: 0;
}
.btn-modal {
    border: 0;
    display: block;
    margin-left: auto;
    background-color: var(--Dairy);
}
.btn-modal svg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--L-Grey);
    background-color: var(--CORNFLOW);
    border: 1px solid var(--Light-Slate);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
                0 1px 3px 0 rgba(0, 0, 0, 0.12),
                0 1px 1px 0 rgba(0, 0, 0, 0.14);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 /*--------------- Modal Form Content -----------*/
.modal-title {
    color: var(--background-font);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5px;
    letter-spacing: 0.32px;
}
.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
 .form-icon .svg-modal {
    border: none;
    fill: var(--background-font);
    position: absolute;
    left: 0px;
    top: 22px;
    padding: 8px 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
input[type="text"]{
    text-overflow: clip;
    color: var(--background-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5px;
    letter-spacing: 0.32px;
    outline: none;
    box-sizing: border-box;
    margin-top: 4px;
    padding: 8px 0 8px 16px;
    width: 400px;
    border-radius: 5px;
    background-color: var(--primary-white);
    border: 1px solid rgba(46, 47, 66, 0.40);
    text-indent: 25px;
    transition: 250ms; 
    transition: color, border-color, background-color;
    transition-timing-function:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon .svg-modal:hover{
    fill: var(--primary-color);
}
input[type="text"]:hover{
    border-color: var(--primary-color);
    outline: 1px solid var(--hover-background);
}
input[type="text"]:focus + .form-icon .svg-modal{
    border-color: var(--primary-color);
    fill: var(--primary-color);
} 
input[type="text"]:focus {
    border-color: var(--primary-color);
    outline: 1px solid var(--hover-background);
} 
.form{
    position: relative;
}
label{
    color: var(--Light-Slate);
    font-size: 12px;
    font-weight: 400;
    line-height: 0.8;
    letter-spacing: 0.48;
}
.comment-area{
    outline: none;
    color: var(--background-font);
    background-color: var(--primary-white);
    border: 1px solid rgba(46, 47, 66, 0.40);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.6px;
    margin: 4px 0 16px 0;
    padding: 8px 16px;
    width: 360px;
    border-radius: 5px;
}
.comment-area:focus,
.comment-area:hover{
    border-color: var(--hover-background);
    outline: 1px solid var(--hover-background);
}
input[type="checkbox"]{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.check-box {
    color: var(--Light-Slate);
    font-size: 12px;
    padding-bottom: 15px;
    font-weight: 400;
    line-height: 0.8;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.check-box a {
    text-decoration: underline;
}
.send-btn {
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--primary-white);
    padding: 16px 32px;
    border-radius: 5px;
    width: 169px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    border: none;
    letter-spacing: 0.64px;
    cursor: pointer;
}
.send-btn:hover {
    background-color: var(--hover-background);
}
/* ------------------------- Section1 ------------------------ */
/* .hero-advantages */   
.advantages-icons {
    background-color: var(--cloud);
    display: flex;
    justify-content: center;
    border-radius: 4px;
    padding: 24px 100px;
}
.advantages{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 24px;
  padding: 120px 156px;
}
.advantages li > h3 {
    text-align: start;
    color: var(--background-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
}
.advantages > p{
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/*---------------- what are we doing-Section 2 ----------------------*/
h2 {
    color: var(--background-font);
    margin-top: 10px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.services{  
    padding-bottom: 120px;
}
.services-img{
    display: flex;
    justify-content: center;
    gap:24px;
    padding-top: 72px;
}
/* ---------------- Our team-section3 ------------------- */
h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
    margin-top: 32px;
}
.team{
   background-color: var(--cloud);
   padding:120px 156px;
    }
.team > p{
    text-align: center;
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}
.team-members .members{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 72px;
}
.team-members .members > li > p{
    text-align: center;
}
.members .member{
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding-bottom: 32px;
}
 /* -------- Team Social Media Icons ------------------- */
.teams-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.team-social-media {
    background-color: var(--primary-color);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.team-social-media:focus,
.team-social-media:hover{
    background-color: var(--hover-background);
    border: 1px solid var(--hover-background);
    outline: 1px solid var(--hover-background);
}
.team-social-media svg {
    fill: var(--primary-white);
    padding: 12px;
}
/* -------------- Customers Section ------------------------- */
.customer-section{
    padding-top: 72px;
    padding-bottom: 100px;
}
.customers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;   
}
.customer-icon{
    border: 1px solid var(--Light-Slate);
    border-radius: 3px;
    padding: 16px 32px;
}
.customer-icon svg {
    fill: var(--Light-Slate)
}
.customer-icon:hover,
.customer-icon svg:hover{
    fill: var(--hover-background);
    border: 1px solid var(--hover-background);
}
/* ------------------- footer ---------------------------*/
.annotation{
    background-color: var(--background-font);
    display:flex;
    gap: 120px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.notation{
    display: flex;
    flex-direction: column;
    padding-left: 156px;
    width: auto;
}
.notation .studio{
    color: var(--primary-white);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.3; /*21px  116.667%*/
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.notation > p{
    width: 264px;
    margin-top: 17.5px;
    color: var(--cloud);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
 /* -------------------- Social Media Icons ------------------------*/
 h4 {
     margin-top: 0;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5;
     letter-spacing: 0.32px;
     color: var(--primary-white);
 }
 .social-media-icons {
    display: flex;
    gap: 16px;
}
.social-media {
     background-color: var(--primary-color);
     border-radius: 50%;
     height: 40px;
     width: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
}
.social-media:focus,    
.social-media:hover{
    background-color: var(--hover-background);
    border: 1px solid var(--hover-background);
    outline: 1px solid var(--hover-background);
} 
 .social-media svg {
     fill: var(--primary-white);
     padding: 8px;
 }
 /* subscribe  button */
 .subscribe-form{
   display: flex;
   gap: 24px;
 }
 input[placeholder="E-mail"]{
    text-indent: 2px;
    background-color: var(--L-Grey);
    color: var(--primary-white);
    width: 264px;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
    border: 1px solid var(--primary-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 }
 input[placeholder="E-mail"]:focus,
 input[placeholder="E-mail"]:hover{
    border-color: var(--hover-background);
    outline: 1px solid var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 }
 input::placeholder{
    color: var(--Dairy);
 }
 .subscribe-btn{
    padding: 8px 24px;
    width: 165px;
    text-align: center;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 5px;
    color: var(--primary-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    gap: 16px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 }
 .subscribe-btn:hover{
    background-color: var(--hover-background);
 }
 .subscribe-btn svg{
    align-items: center;
    justify-content: center;
 }
/* ------------------ portfolio.html ------------------*/
.button-portfolio {
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding-top: 96px;
    padding-bottom: 72px;
}
.btn{ 
    background-color: var(--CORNFLOW);
    color: var(--IRIS, #4D5AE5);
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        padding: 12px 24px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border: none;
}
.btn:focus,
.btn:hover {
        background-color: var(--hover-background);
        color: var(--primary-white);
        cursor: pointer;
}
/* ----------- main portfolio ----------- */
 .row li{
    border: 1px solid var(--CORNFLOW);
    background-color: var(--primary-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 32px;
    cursor: pointer;
}
.row li:hover {
    border-radius: 5px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);   
}
.row h3 {
    padding-top: 32px;
    margin: 0;
    padding-left: 16px;
}
.row p {
    margin: 0;
    padding-left: 16px;
}
.all-row{
width: 100%;
height: auto;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.row{
    margin: 0 300px 120px 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
}
     /* Overlay Slider */
.card{
    position: relative;
    width: 100%;   
}
.image{
    display: block;
    width: 100%;
    height: auto;
}
.slider {
    position: absolute;
    background-color: var(--primary-with-alpha);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition:  0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover .slider{
    height: 100%;
}
.content{
    position: absolute;
    color:var(--cloud);
    overflow: hidden;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* -------------------- Mobile Menu ------------ */
.mobile-menu-btn{
    display: none;
}
.mobile-menu-main.is-open {
    transform: translateX(0);
}
.mobile-menu-main {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 428px;
    height: 100vh;
    padding: 40px 40px 40px 20px;
    background-color: var(--cloud);
    z-index: 999;
    transform: translateX(100%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .mobile-menu-close {
    border: 1px solid #919194;
    background-color: var(--CORNFLOW);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    fill: var(--L-Grey);
    display: block;
    position: absolute;
    top: 30px;
    right: 110px;
    font-size: 20px;
    cursor: pointer;
 }
 .mobile-menu-close:hover {
     background-color: var(--Dairy);
     outline: 1px solid var(--primary-white);
     border: 1px solid var(--Light-Slate);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 }
 .mobile-menu-selection .mobile-pages li a {
     font-size: 36px;
     font-weight: 700;
     line-height: 2.5;
     letter-spacing: 0.72px;
     text-transform: capitalize;
 }
 .mobile-pages li a:hover {
     color: var(--hover-background);
 }
 .mobile-contacts-menu .number {
    padding-top: 210px;
 }
 .number a{
    color: var(--paragraph-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5;
    letter-spacing: 0.72px;
 }
 .number a:hover{
    color: var(--hover-background);
 }
 .mobile-contacts-menu .email-menu a {
     color: var(--paragraph-color);
     font-size: 20px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.4px;
 }
 .email-menu a:hover {
     color: var(--hover-background);
 }
  .mobile-menu-sm-icons {
      margin-top: 40px;
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: 58px;
      margin-bottom: 40px;
  }
/* ---------------- @media Query ---------*/
 @media screen and (max-width: 428px) {
        .container {
            width: 100%;
            height: 100vh;
        }
        .mobile-menu-btn{
            display: block;
            margin-left: 140%;
            border: none;
            background-color: var(--primary-white);
        }
        .logo {
            padding-left: 16px;
        }
        .mobile-menu-btn:hover{
            border: 1px solid var(--Light-Slate);
            background-color: var(--cloud);
        }
        .menu,
        .contacts{
           display: none;
        }
        .mobile-menu-main{
            display:block;
        }
        h1 {
           margin: 0 0 72px 0;
           padding: 0;
           font-size: 36px;
           font-weight: 700;
           line-height: 1.1;
           letter-spacing: 0.72px;
           text-transform: capitalize;
        }
        .hero{
            width: 100%;
            height: auto;
            background-position: center;
        }
        .modal {
            position: absolute;
            top: 100px;
            width: 375px;
        }
        .hero-advantages .advantages {
            display: block;
            padding: 96px 16px;  
        }
        .hero-advantages .advantages h3{
           text-align: center;
        }
        .hero-advantages .advantages p{
            margin-bottom: 72px;
        }
        .services .services-img{
           padding: 0 16px;
           display: flex;
           flex-wrap: wrap;
           grid-gap: 30px;
        }
        h2{
           font-size: 36px;
           font-weight: 700;
           line-height: 1.1;
           letter-spacing: 0.72px;
           margin-bottom: 60px;
        }
        .team{
           margin: 0;
           padding: 96px 0 96px 0;
        }
        .team-members .members{
            display: flex;
            flex-wrap: wrap;
            gap: 48px;
            padding: 0 82px;
        }
        .customer-section .customers{
            display: flex;
            flex-wrap: wrap;
            padding: 0 16px;
        }
        .annotation{
           text-align: center;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
        }
        .notation {
            margin-left: 0;
            padding-left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .subscribe-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        /* ---------- portfolio ---------- */
        .container-portfolio{
            width: 100%;
            height: 100vh;
        }
        .button-portfolio{
            margin-left: 45px;
            display: flex;
            flex-wrap: wrap;
        }
        .row{
            display: flex;
            flex-direction: column;
        }
        .portfolio-card{
            width: 396px;
            margin-left: 16px;
            margin-right: 16px;
        }
 }    
     /* -- End Of 428xp --  */
@media screen and (min-width: 429px) and (max-width: 767px){
        .container{
            width: 100%;
            height: 100vh;
            overflow-x: hidden;
        }
        .mobile-menu-btn {
            display: block;
            margin-left: 50%;
            border: none;
            background-color: var(--primary-white);
        }
        .menu,
        .contacts{
            display: none;
        }
        .mobile-menu-close{
            top: 40px;
            right: 140px;
        }
        .mobile-menu-main {
            width: 650px;
            display: block;
            transform: translateX(100%);
        }
        .mobile-menu-main.is-open {
            transform: translateX(0%);
        }
        h1 {
            margin: 0 0 72px 0;
            padding: 0;
            font-size: 42px;
            font-weight: 700;
            line-height: 1.1;
            letter-spacing: 0.72px;
            text-transform: capitalize;
        }
        .hero {
            max-width: 100%;
            height: auto;
            background-position: center;
            overflow-x: hidden;
        }
        .hero-advantages .advantages {
            display: flex;
            flex-wrap: wrap;
        }
        .hero-advantages .advantages h3 {
            text-align: center;
        }
        .hero-advantages .advantages p {
            margin-bottom: 72px;
        }
        .services .services-img {
            padding: 0 16px;
            display: flex;
            flex-wrap: wrap;
            grid-gap: 30px;
        }
         h2 {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.1;
            letter-spacing: 0.72px;
            margin-bottom: 60px;
        }
        .team {
            margin: 0;
            padding: 96px 0 96px 0;
        }
        .team-members .members {
            display: flex;
            flex-wrap: wrap;
            gap: 48px;
            padding: 0 82px;
        }
        .customer-section .customers {
            display: flex;
            flex-wrap: wrap;
            padding: 0 16px;
        }
        .annotation {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
        }
        .notation {
            padding-left: 108px;
        }
        .subscribe-container{
            padding-left: 108px;
        }
        /* ---------- portfolio ---------- */
        .container-portfolio {
            width: 100%;
            height: 100vh;
        }
        .button-portfolio {
            margin-left: 45px;
            display: flex;
            flex-wrap: wrap;
        }
        .row {
            display: flex;
            flex-direction: column;
        }
        .portfolio-card {
            width: 396px;
            margin-left: 16px;
            margin-right: 16px;
        }
    }        
@media screen and (min-width: 768px) and (max-width: 1157px){
    .container {
            width: 100%;
            height: 100vh;
            overflow-x: hidden;
        }
        .contacts-menu {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        .pages{
            padding-right: 121px;
        }
        .hero {
           width: 100%;
           height: auto;
           background-position: center;
        }
        .modal{
           position: absolute;
           top: 180px;
        }
    h1 {
        padding: 0;
        text-transform: capitalize;
        }
    .contacts-menu{
        padding: 0;
    }
    .contacts .contacts-menu li a{
        display: flex;
        flex-direction: column;
    } 
    .header {
        padding: 25px 16px;
    }
    .active::after {
        top: 56px;
    }
    .advantages{
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 96px 16px 96px 16px;
    }
    .our-goal{
        flex-basis: calc(100% / 2 - 24px);
        width: 356px;
        height: auto 72px;
    }
    .hero-advantages{
       padding: 0 16px;
    }
    .services{
        padding: 0;
    }
    .services-img {
        margin: 0;
        padding: 0;
        display: grid;
        width: 100%;
    }
    .services-image1 {
        grid-column: 1;
        grid-row: 1;
    }
    .services-image2 {
        grid-column: 2;
        grid-row: 1;
    }
    .services-imag3 {
        grid-column: 1;
        grid-row: 2;
    }
    .team{
        margin-top: 96px;
    }
    .our-team-h2{
        margin-bottom: 72px;
    }
    .team {
        padding: 96px 0;
    }
    .team-members .members {
        display: flex;
        flex-wrap: wrap;
        gap: 64px;
        column-gap: 24px;
        padding: 0 82px;
    }
    .customer-section .customers {
        display: flex;
        flex-wrap: wrap;
        padding: 0 16px;
        row-gap: 72px;
    }
    .annotation {
        margin-top: 96px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    .notation {
        padding-left: 108px;
    }
    .subscribe-container {
        padding-left: 108px;
    }
     /* ---------- portfolio ---------- */
    .container-portfolio {
        width: 850px;
        height: 100vh;
    }
    .button-portfolio{
        padding-top: 0;
    }
    .row {
       padding: 0;
       margin: 0 16px;
    }
    .portfolio-card {
        flex-basis: calc(100% / 2 -24px);
        width: 356px;    
    }   
} 
@media screen and (min-width: 1158px) and (max-width: 1440px){
.container { 
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }
    .mobile-menu {
        display: none;
    }
    h1 {
        padding: 0;
        text-transform: capitalize;
    }
    .hero {
        width: 100%;
    }
    /* ---------- portfolio ---------- */
    .container-portfolio {
        width: 100%;
        height: 100vh;
    }
    .button-portfolio {
        padding-top: 0;
    }
    .row {
        padding: 0;
        margin: 0 16px;
    }
    .portfolio-card {
        flex-basis: calc(100% / 4 -24px);
        width: 356px;
    }  
    .annotation{
        margin-top: 120px;
    }
}